@page
@model azure_webapp_mtest.Pages.Deployment_SlotsModel
@{
    ViewData["Title"] = "Deployment Slots";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Deployment Slots</h1>
    
</div>
